html {
    font-size: 12px;
}

h1 {
    color: blueviolet;
    text-decoration: underline;
    font-size: 4.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: rgb(5, 34, 58);
    font-size: 1.0rem;
    text-shadow: 0cap;
    background-color: azure;
}